<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>提交bug</title>
    <link th:href="@{/my/common.css}" rel="stylesheet">
    <style>
        textarea {
            height: 400px;
            width: 600px;
        }

        .border-container {
            border: 1px solid;
            margin: 10px;
        }
    </style>
</head>
<body>
<div th:replace="~{common/common :: navbar}"></div>
<form id="form" method="POST" action="#" enctype="multipart/form-data">
    <input type="text" name="email" placeholder="你的电子邮箱（选填）">
    <input type="text" name="phone" placeholder="你的手机号（选填）">
    <input type="hidden" required name="priority" value="一般">
    <br>
    <textarea name="content" placeholder="bug详情描述（必填）"></textarea>
    <br>
    <button type="submit">提交</button>
    <button type="reset">重填</button>
</form>
<div class="border-container" th:each="bug : ${bugs}">
    <span th:text="${bug.createTime}"></span>
    <span th:text="${bug.content}"></span>
</div>
<script>
    let form = document.getElementById("form");
    form.addEventListener("submit", e => {
        e.preventDefault()
        fetch("/bug-report/submit", {
            method: "POST",
            body: new FormData(e.target)
        }).then(()=>location.reload())
    })
</script>
</body>
</html>