<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>库存预警</title>
    <link th:href="@{/my/common.css}" rel="stylesheet">
    <link th:href="@{/my/popup.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{common/common :: navbar}"></div>
<button onclick="window.location.href='/material/page/add';">添加物料</button>
<button id="change-email-popup-btn">修改邮箱</button>
<span>预警邮件会发送到: <span th:text="${currentEmail}"></span></span>
<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>内容</th>
        <th>状态</th>
        <th>邮件</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="alert : ${alerts}">
        <td th:text="${alert.id}"></td>
        <td th:text="${alert.content}"></td>
        <td>
            <select onchange="updateState(this)">
                <option value="0" th:selected="${alert.state == 0}">未处理</option>
                <option value="1" th:selected="${alert.state == 1}">处理中</option>
                <option value="2" th:selected="${alert.state == 2}">已解决</option>
            </select>
        </td>
        <td>
            <span th:text="${alert.emailSent==0}?'邮件未发送':'邮件已发送'"></span>
        </td>
    </tr>
    </tbody>
</table>

<form action="#" id="popup" class="hidden" th:action="@{/alert/change-email}" th:object="${email}" method="post">
    <h2>Change you alert email recipient</h2>
    <input type="email" name="email" placeholder="please input your email address" th:field="*{address}">
    <button id="submit-btn" type="submit">确认</button>
    <button id="cancel-btn">cancel</button>
</form>

<script th:src="@{/jquery-3.7.1/jquery.min.js}"></script>
<script>
    function updateState(e) {
        const stateColumn = e.closest("tr");
        const idColumn = stateColumn.querySelector("td:first-child");
        const url = '/alert/update/' + idColumn.textContent + '?state=' + e.value;
        $.ajax({
            type: 'POST',
            url: url,
            success: function (response) {
                console.log('State updated successfully');
            },
            error: function (xhr, status, error) {
                console.error('Error updating state:', error);
            }
        });
    }

    // popup
    document.getElementById("change-email-popup-btn").addEventListener("click",
        () => {
            document.getElementById("popup").classList.remove("hidden");
        });
    document.getElementById("submit-btn").addEventListener("click",
        () => {
            document.getElementById("popup").classList.add("hidden");
            location.reload();
        });
    document.getElementById("cancel-btn").addEventListener("click",
        () => {
            document.getElementById("popup").classList.add("hidden");
            location.reload();
        });
</script>
</body>
</html>