button {
    margin: 10px;
    border: none;
}

button.warn{
    background: red;
    color: white;
}

button a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.border-radius {
    border-radius: 10px;
}

.pd-28px {
    padding: 28px;
}

.w-297px {
    width: 297px;
}

.bg-white {
    background-color: white;
}

.top-tabs{
    display: flex;
    flex-direction: row;
}

.top-tab{
    background-color: transparent;
    border: none;
    color: #555;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.flex-row{
    display: flex;
}