button {
    margin: 8px;
    border-radius: 20px;
    font-size: 16px;
    min-width: 52px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
    transition-duration: 0.4s;
    vertical-align: middle;
}

button:hover{
    /*background-color: #000;*/
    filter: brightness(70%);
}

input{
    margin: 10px;
    border-radius: 20px;
    font-size: 16px;
    min-width: 70px;
    padding: 5px 10px;
    vertical-align: middle;
}

input{
    border: 1px solid;
}

textarea{
    margin: 10px;
    border-radius: 4px;
}

.warn {
    background: #f00;
    color: white;
}

button a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
}

table{
    width: 100%;
}

td {
    vertical-align: middle;
    text-align: center;
}

tr th{
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border-radius {
    border-radius: 10px;
}

.pd-28px {
    padding: 28px;
}

.w-297px {
    width: 297px;
}

.bg-white {
    background-color: white;
}

.top-tabs {
    display: flex;
    flex-direction: row;
}

.top-tab {
    /*background-color: transparent;*/
    border: none;
    color: #555;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.top-tab:hover{
    background-color: #555;
    color: white;
}

.top-tab a:hover{
    background-color: green;
}

.flex-row {
    display: flex;
}