<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link th:href="@{/my/common.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{common/common :: navbar}"></div>
<h1>YIFAN-ERP Release</h1>
<h2>Release 3/8/2024</h2>
<ul>
    <li>
        <span>产品管理功能（生产产品）</span>
        <br>
        <img th:src="@{/img/feature_product_produce.png}">
    </li>
    <li>
        <span>产品管理功能（查看bom）</span>
        <br>
        <img th:src="@{/img/feature_product_bom_view.png}">
    </li>
</ul>
--------------------------------------
<h2>Release 3/7/2024</h2>
<ul>
    <li>
        <span>bom管理功能</span>
    </li>
</ul>
--------------------------------------
<h2>Release 3/6/2024</h2>
<ul>
    <li>
        <span>物料库存每日都会自动备份成excel，如果有数据错误请联系管理员494939649@qq.com恢复</span>
    </li>
</ul>
<ul>
    <li>
        <span>全量更新物料模板已修复</span>
        <br>
        <img th:src="@{/img/bugfix_material_excel_template.png}">
    </li>
</ul>
--------------------------------------
<h2>Release 3/5/2024</h2>
<ul>
    <li>
        <span>better error prompt</span>
        <br>
        <img th:src="@{/img/release_better_error_prompt.png}">
    </li>
    <li>
        <span>material search function</span>
        <br>
        <img th:src="@{/img/feature_material_search.jpg}">
    </li>
    <li>
        <span>full update preview</span>
        <br>
        <img th:src="@{/img/feature_full_update_perview.png}">
    </li>
    <li>
        <span>better UI for navigation bar</span>
        <br>
        <img th:src="@{/img/feature_better_navbar.png}">
    </li>
    <li>
        <span>better UI for button</span>
        <br>
        <img th:src="@{/img/feature_better_button_ui.png}">
    </li>
    <li>
        <span>bug report page</span>
        <br>
        <img th:src="@{/img/feature_bug_report.png}">
    </li>
</ul>
</body>
</html>