<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Suggestion</title>
    <link th:href="@{/my/common.css}" rel="stylesheet">
    <style>
        textarea{
            height: 400px;
            width: 600px;
        }
    </style>
</head>
<body>
<div th:replace="~{common/common :: navbar}"></div>
<form method="POST" enctype="multipart/form-data" action="/bug-report/submit">
    <input type="text" name="email" placeholder="你的电子邮箱">
    <input type="text" name="phone" placeholder="你的手机号">
    <input type="hidden" name="priority" value="一般">
    <br>
    <textarea name="content" placeholder="希望添加的功能详情"></textarea>
    <br>
    <button type="submit">提交</button>
    <button type="reset">重填</button>
</form>
<div th:each="suggestion : ${suggestions}">
</div>
</body>
</html>