<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>物料管理</title>
    <link th:href="@{/my/common.css}" rel="stylesheet">
    <link th:href="@{/my/popup.css}" rel="stylesheet">
    <script th:src="@{/my/js/table-component.js}" type="text/javascript"></script>
    <style>
        th:hover {
            cursor: pointer;
        }

        th .arrow-down {
        }

        th:hover .arrow-down {
            margin-left: 10px;
            transition-delay: 1s;
        }
    </style>
</head>
<body>
<div th:replace="~{common/common :: navbar}"></div>
<button onclick="window.location.href='/material/page/add';">添加物料</button>
<form id="full-update-form" action="/material/excel/add" method="post" enctype="multipart/form-data">
    <input id="full-update-file" type="file" name="file" accept=".xlsx, .xls">
    <button type="submit">全量更新物料</button>
</form>
<button onclick="window.location.href='/material/excel/template';">下载全量更新物料模板</button>
<button onclick="window.location.href='/material/excel/download';">下载物料库存excel文档</button>
<button id="remove-all-popup-btn" class="warn">重置（清空所有物料库存）</button>
<br>
<div>
    <form action="/material/list" method="get" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="输入物料名称" th:value="${name}">
        <button type="submit">搜索</button>
    </form>
</div>
<table id="table" class="table table-hover">
    <thead>
    <tr>
        <th class="sortable" onclick="sortById()">ID<span class="arrow-down"></span></th>
        <th class="sortable" onclick="sortByName()">物料名</th>
        <th class="sortable" onclick="sortByCategory()">分类</th>
        <th>库存数量</th>
        <th>库存预警</th>
        <th>修改</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="material : ${materials}">
        <td th:text="${material.id}"></td>
        <td th:text="${material.name}"></td>
        <td th:text="${material.category}"></td>
        <td th:text="${material.count}"></td>
        <td th:text="${material.inventoryCountAlert}"></td>
        <td>
            <button th:onclick="|window.location.href='/material/update?id=${material.id}'|">修改</button>
            <button class="warn" th:materialId="${material.id}" onclick="removeOnePopup(this)">删除</button>
        </td>
    </tr>
    </tbody>
</table>
<form action="#" id="full-update-popup" class="popup hidden">
    <div id="to-add-table"></div>
    <div id="to-delete-table"></div>
    <div id="to-update-table"></div>
    <button type="submit" id="full-update-submit-btn" class="warn">Submit</button>
    <button type="button" id="full-update-cancel-btn">Cancel</button>
</form>
<form action="#" id="popup" class="popup hidden">
    <h2>FBI WARNING!!!</h2>
    You sure you want to clean all material data? You cannot undo it after cleaning.
    <br>
    <button id="remove-all-btn" class="warn">确认</button>
    <button id="remove-all-cancel-btn">取消</button>
</form>

<form action="#" id="remove-one-popup" class="popup hidden">
    <h2>FBI WARNING!!!</h2>
    You sure you want to clean this material data? You cannot undo it after cleaning.
    <br>
    <button id="remove-one-btn" class="warn">确认</button>
    <button id="remove-one-cancel-btn">取消</button>
</form>
<script>

    function post(url) {
        let xhr = new XMLHttpRequest();
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                location.reload()
            }
        };
        xhr.send("");
    }

    document.getElementById("remove-all-btn").addEventListener("click", function () {
        post("/material/remove-all")
    })

    // popup to remove all
    document.getElementById("remove-all-popup-btn").addEventListener("click",
        () => {
            document.getElementById("popup").classList.remove("hidden");
        });
    document.getElementById("remove-all-btn").addEventListener("click",
        () => {
            document.getElementById("popup").classList.add("hidden");
            location.reload();
        });
    document.getElementById("remove-all-cancel-btn").addEventListener("click",
        () => {
            document.getElementById("popup").classList.add("hidden");
            location.reload();
        });

    // popup to remove one
    let materialId = -1;

    function removeOnePopup(button) {
        materialId = button.getAttribute("materialId");
        document.getElementById('remove-one-popup').classList.remove("hidden")
    }

    document.getElementById("remove-one-btn").addEventListener("click",
        (event) => {
            event.preventDefault()
            document.getElementById("remove-one-popup").classList.add("hidden");
            post("/material/do-remove/" + materialId)
        });
    document.getElementById("remove-one-cancel-btn").addEventListener("click",
        () => {
            document.getElementById("remove-one-popup").classList.add("hidden");
            location.reload();
        });

    let toAddTable;
    let toDeleteTable;
    let toUpdateTable

    let fullUpdateForm = document.getElementById("full-update-form");
    fullUpdateForm.addEventListener("submit", function (e) {
        e.preventDefault();
        if (toAddTable) {
            toAddTable.deconstructor()
        }
        if (toDeleteTable) {
            toDeleteTable.deconstructor()
        }
        if (toUpdateTable) {
            toUpdateTable.deconstructor()
        }
        let updateFile = document.getElementById("full-update-file");
        if (!updateFile.files || updateFile.files.length === 0) {
            fullUpdateForm.submit()
            return
        }
        let formData = new FormData();
        formData.append("file", updateFile.files[0])
        fetch('/material/excel/add/preview', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                toAddTable = new TableComponent('to-add-table', 'To Add', data.toAdd);
                toDeleteTable = new TableComponent('to-delete-table', 'To Delete', data.toDelete);
                toUpdateTable = new TableComponent('to-update-table', 'To Update', data.toUpdate);
            })
            .catch(error => console.error('Error fetching data:', error));
        document.getElementById("full-update-popup").classList.remove("hidden");
    })
    document.getElementById("full-update-submit-btn").addEventListener("click", (e) => {
        e.preventDefault()
        if (toAddTable) {
            toAddTable.deconstructor()
        }
        if (toDeleteTable) {
            toDeleteTable.deconstructor()
        }
        if (toUpdateTable) {
            toUpdateTable.deconstructor()
        }
        fullUpdateForm.submit();
    })
    document.getElementById("full-update-cancel-btn").addEventListener("click", function (e) {
        e.preventDefault();
        if (toAddTable) {
            toAddTable.deconstructor()
        }
        if (toDeleteTable) {
            toDeleteTable.deconstructor()
        }
        if (toUpdateTable) {
            toUpdateTable.deconstructor()
        }
        document.getElementById("full-update-popup").classList.add("hidden");
    })

    function sortById() {
        sortTable(0, orderSwitch)
        orderSwitch = !orderSwitch
    }

    function sortByName() {
        sortTable(1, orderSwitch)
        orderSwitch = !orderSwitch
    }

    function sortByCategory() {
        sortTable(2, orderSwitch)
        orderSwitch = !orderSwitch
    }

    let orderSwitch = false;

    function sortTable(columnIndex, order) {
        const rows = Array.from(document.querySelectorAll("#table tbody tr"));

        rows.sort((a, b) => {
            const aValue = a.cells[columnIndex].textContent.trim();
            const bValue = b.cells[columnIndex].textContent.trim();
            if (order) {
                return isNaN(aValue) ? aValue.localeCompare(bValue) : aValue - bValue;
            } else {
                return isNaN(aValue) ? -aValue.localeCompare(bValue) : bValue - aValue;
            }
        });

        const tbody = document.querySelector("#table tbody");
        tbody.innerHTML = "";
        rows.forEach(row => tbody.appendChild(row));
    }
</script>
</body>
</html>