<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link th:href="@{/bootstrap-5.3.2/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<a href="/material/add">添加物料</a>
<form action="/material/excel/add" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".xlsx, .xls">
    <input type="submit" value="批量添加物料">
</form>
<a href="/material/excel/template">下载批量添加物料模板</a>
<a href="/material/excel/download">下载物料库存excel文档</a>
<button id="remove-all-btn">重置（清空所有物料库存）</button>
<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>物料名</th>
        <th>分类</th>
        <th>库存数量</th>
        <th>库存预警</th>
        <th>修改</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="material : ${materials}">
        <td th:text="${material.id}"></td>
        <td th:text="${material.name}"></td>
        <td th:text="${material.category}"></td>
        <td th:text="${material.count}"></td>
        <td th:text="${material.inventoryCountAlert}"></td>
        <td><a th:href="@{/material/update(id=${material.id})}">修改</a></td>
    </tr>
    </tbody>
</table>
<script th:src="@{/bootstrap-5.3.2/js/bootstrap.js}"></script>
<script>
    document.getElementById("remove-all-btn").addEventListener("click",function(){
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/material/remove-all", true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                location.reload()
            }
        };
        xhr.send("");
    })
</script>
</body>
</html>