<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加产品</title>
</head>
<body>
<form action="#" th:action="@{/material/do-update}" th:object="${material}" method="post">
    <fieldset>
        <input type="submit" id="submitButton" th:value="提交修改">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>分类</th>
                <th>数量</th>
                <th>库存预警</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input th:field="*{id}" id="id" type="text"/></td>
                <td><input th:field="*{name}" id="name" type="text"/></td>
                <td><input th:field="*{category}" id="category"/></td>
                <td><input th:field="*{count}" id="count"/></td>
                <td><input th:field="*{inventoryCountAlert}" id="inventoryCountAlert"/></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>
</body>
</html>