<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>创建产品</title>
    <link th:href="@{/bootstrap-5.3.2/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/my/common.css}" rel="stylesheet">
    <link th:href="@{/my/popup.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{common/common :: navbar}"></div>
<form action="#" th:action="@{/product/do/create}" th:object="${product}" method="post">
    <fieldset>
        <table>
            <thead>
            <tr>
                <th>产品名</th>
                <th>单位</th>
                <th>数目</th>
                <th>分类</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input th:field="*{name}" id="name" type="text"/></td>
                <td><input th:field="*{unit}" id="unit"/></td>
                <td><input th:field="*{count}" id="count"/></td>
                <td>
                    <div class="flex-row">
                        <select th:field="*{category.id}">
                            <option value="" disabled selected>请选择产品分类</option>
                            <option th:each="category : ${categories}"  th:value="${category.id}" th:text="${category.name}"></option>
                        </select>
                        <button type="button" id="popup-btn">添加新分类</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <input type="submit" id="submit-btn" th:value="添加">
    </fieldset>
</form>

<form action="#" id="popup" class="popup hidden" th:action="@{/category/do/create}" th:object="${category}" method="post">
    <input type="text" name="name" placeholder="分类名" th:field="*{name}">
    <button type="button">添加分类</button>
    <button type="reset">取消</button>
</form>

<script>
    document.getElementById("popup-btn").addEventListener("click",
        () => {
            document.getElementById("popup").classList.remove("hidden");
        });

    document.getElementById("popup").addEventListener("submit",
        () => {
            location.reload();
        });
</script>
</body>
</html>