<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>产品管理</title>
    <link th:href="@{/my/common.css}" rel="stylesheet">
    <link th:href="@{/my/popup.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{common/common :: navbar}"></div>
<button onclick="window.location.href='/product/add'">添加产品</button>
<form action="/product/excel/add" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".xlsx, .xls">
    <button type="submit">全量更新产品</button>
</form>
<button onclick="window.location.href='/product/excel/template'">下载全量更新产品模板</button>
<button onclick="window.location.href='/product/excel/download'">下载产品库存excel文档</button>
<button id="remove-all-btn" class="warn">重置（清空所有产品库存）</button>

<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>产品名</th>
        <th>库存数量</th>
        <th>生产</th>
        <th>出库</th>
        <th>BOM</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.count}"></td>
        <td>
            <form th:action="@{/product/produce}" method="post">
                <input type="hidden" name="id" th:value="${product.id}">
                <input type="number" name="count" required>
                <button type="submit">生产</button>
            </form>
        </td>
        <td>
            <form th:action="@{/product/out}" method="post">
                <input type="hidden" name="id" th:value="${product.id}">
                <input type="number" name="count" required>
                <button type="submit">出库</button>
            </form>
        </td>
        <td>
            <form method="get" action="/bom/product" enctype="multipart/form-data">
                <input type="hidden" name="productId" th:value="${product.id}">
                <button type="submit">查看</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<script>
    document.getElementById("remove-all-btn").addEventListener("click", function () {
        fetch("/product/remove-all", {
            method: "POST",
            body: null
        }).then((resp) => {
            location.reload()
        }).catch((e) => {
            location.reload()
        })
    })
</script>
</body>
</html>